@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&display=swap');

:root{
    --color:rgb(100, 104, 79);
    --bg:rgba(0, 0, 0, 0.9);
}

body{
    margin:0;
    /*background:url('https://i.pinimg.com/736x/95/0b/ad/950bad7cadc15d3eb681ef3acb286283.jpg');*/
    background-size:100% 100%;
    background-attachment: fixed;
    min-height:100vh;
    font-family:"Space Mono";
    font-size:12px;
    color:var(--color);
    scrollbar-width:none;
    display: flex;
    align-items: center;
    justify-content: center;
    background:repeating-radial-gradient(rgb(78, 78, 59), rgb(46, 48, 34) 1%);
}

::-webkit-scrollbar{
    display:none;
}

h1,h2,h3,h4,h5,h6,p,marquee{
    margin:0;
}

h1,h2,h3,h4,h5,h6{
    font-weight:250;
}

h1{
    font-size:3rem;
}

h2{
    font-size:2rem;
}

header h1{
    color:rgb(163, 146, 78);
    font-family:"special Elite";
}

nav{
    margin-bottom:5px;

}

nav a{
    color:inherit;
}

.container{
    display:flex;
    width:784px;
    max-width:-webkit-fill-available;
    max-width: -moz-available;
    background:var(--mbg);
    gap:5px;
    border-top:none;
    border-bottom:none;
    padding:0.5rem;
}

aside{
    border:3px double var(--color);
    min-width:25%;
    max-width:25%;
    padding:5px;
    padding:0.5rem;
    background:var(--bg);
}

main{
    width:-webkit-fill-available;
    width:-moz-available;
    text-align: left;
}

a{
    color:var(--color);
    padding:1px;
    text-decoration-style:dotted;
}

a:hover{
    font-style: italic;
}

nav,footer{
    gap:5px;
    grid-auto-flow: column;
    display:grid;
    place-content:space-between;
}

article{
    display:grid;
    gap:5px;
    margin-bottom:5px;
}

section,footer, nav{
    border-bottom:1px dotted;
    padding:0.5rem;
    border:3px double var(--color);
    background:var(--bg);
}

section h2{
    font-size:1rem;
}

section{
    padding-top:0;
}

figure{
    margin:0;
}

figcaption{
    font-size:0.65rem;
    opacity:0.5;
}

figure img{
    border:3px inset var(--color);
}

.float-right img, .float-left img{
    max-height:15rem;
}

.float-right{
    float:right;
}

/*external*/
#statuscafe {
    display:flex;
}
#statuscafe-username {
    display:none;
}
#statuscafe-content {
    display:block;
}

/*screen specific*/
@media only screen and (max-width:600px){
    aside{
        display:none;
    }
}